$cl-primary: #fff;
$cl-red-1:#fb4226;
$cl-red-2:#fb4226dc;
$cl-red-3:#ff7d6adc;
$cl-green-1:#1aac4d;
$cl-green-2: #7ed321;
$cl-green-3: #79b637;
$cl-yellow-1: #ffef15;
$cl-yellow-2: #fdf364;
$cl-grey-1: #383838;
$cl-grey-2: #a6b2c9;
$bg-primary: #ffff;
$bg-dark-1: #0a2029;
$bg-dark-2: #777777;
$bg-dark-3: #ececec;
$bg-red-1:#fb4226;
$bg-green-1:#1aac4d;
