$cl-primary: #fff;
$cl-red-1:#e7300d;
$cl-red-2:#fb4226;
$cl-red-3:#ff7d6adc;
$cl-green-1:#1aac4d;
$cl-green-2: #7ed321;
$cl-green-3: #79b637;
$cl-yellow-1: #ffef15;
$cl-yellow-2: #fdf364;
$cl-grey-1: #383838;
$cl-grey-2: #636363;
$cl-grey-3: #808080;
$bg-primary: #ffff;
$bg-dark-1: #0a2029;
$bg-dark-2: #777777;
$bg-dark-3: #ececec;
$bg-dark-4:#dfdfdf;
$bg-light-1: #fdf7dd;
$bg-light-2: #fdfcf0;
$bg-red-1:#fb4226;
$bg-green-1:#1aac4d;
$bg-green-2:#44c020;
$bg-green-3:#36a85e;
$bg-orange-1:#e08410;
$bg-orange-2:#db9b4d;
$bg-orange-3:#ddc2a1;