@import "../../sass/const.scss";
// Nơi quản lý css của booking feature
.booking {
  .ant-carousel {
    .slick-list {
      .backArrow {
        color: #fff;
        position: absolute;
        top: 50%;
        margin-left: 20px;
        cursor: pointer;
        transform: translateY(-50%);
        transform-origin: right center;
        transition: 0.3s;
        &:hover {
          transform: translateY(-50%) scale(120%);
        }
      }
      .nextArrow {
        @extend .backArrow;
        right: 0;
        margin-right: 20px;
      }
    }
    .slick-dots {
      li {
        width: 24px;
        margin-bottom: 16px;
        button {
          width: 12px;
          height: 12px;
          box-shadow: 0 0 2px 2px #505050;
          background-color: #f7c2c2;
          border-radius: 4px;
        }
      }
      li.slick-active {
        width: 24px;
        button {
          width: 12px;
          height: 12px;
          background-color: yellow;
          margin: 0;
        }
      }
    }
  }
  .booking__card {
    .cards__list {
      margin-left: -1rem;
      margin-right: -1rem;
      .ant-card-cover {
        .play-trailer {
          transition: 0.5s;
          background-color: #50505091;
          &:hover {
            opacity: 1;
          }
        }
        .bg--rate{
          background-color: #63636379;
        }
      }
      .ant-card-body {
        padding-top: 1rem;
      }
    }
  }
}
.modal__trailer {
  .ant-modal-content {
    width: 800px;
    height: 535px;
    padding: 4px;
    background-color: #505050;
    .ant-modal-close {
      top: 0;
      right: 0;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: #505050;
      transform: translate(50%, -50%);
      width: 3rem;
      height: 3rem;
      .ant-modal-close-x {
        font-size: 2rem;
        color: #ffff;
      }
    }
    .ant-modal-body {
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}