@import "../../sass/const.scss";
// Nơi quản lý css của booking feature
// Home page
.booking {
  background-color: $bg-dark-1;
  .ant-carousel {
    .slick-list {
      .backArrow {
        color: #fff;
        position: absolute;
        top: 50%;
        margin-left: 20px;
        cursor: pointer;
        transform: translateY(-50%);
        transform-origin: right center;
        transition: 0.3s;
        &:hover {
          transform: translateY(-50%) scale(120%);
        }
      }
      .nextArrow {
        @extend .backArrow;
        right: 0;
        margin-right: 20px;
      }
    }
    .slick-dots {
      li {
        width: 24px;
        margin-bottom: 16px;
        button {
          width: 12px;
          height: 12px;
          box-shadow: 0 0 0px 2px #000000;
          background-color: #f7c2c2;
          border-radius: 4px;
          margin: 0 auto;
        }
      }
      li.slick-active {
        width: 24px;
        button {
          width: 12px;
          height: 12px;
          background-color: green;
          margin: 0 auto;
        }
      }
    }
  }
  .booking__card {
    .cards__list {
      margin-left: -1rem;
      margin-right: -1rem;
      .ant-card-cover {
        .play-trailer {
          transition: 0.5s;
          background-color: #50505091;
          &:hover {
            opacity: 1;
          }
        }
        .bg--rate {
          background-color: #63636379;
        }
      }
      .ant-card-body {
        padding-top: 1rem;
      }
    }
  }
  .booking__paginate {
    padding-top: 20px;
    padding-bottom: 80px;
    .ant-pagination-disabled {
      .ant-pagination-item-link {
        color: #505050;
      }
    }
    .ant-pagination-item-link {
      color: $cl-primary;
    }
    .ant-pagination-item {
      color: #fff;
      margin: 0 8px;
      a {
        color: $cl-primary;
        font-weight: 600;
      }
      &:hover {
        a {
          color: $cl-yellow-2;
        }
      }
    }
    .ant-pagination-item.ant-pagination-item-active {
      background-color: transparent;
      border: none;
      a {
        color: $cl-yellow-1;
        text-decoration: underline;
        font-size: 1.2rem;
      }
    }
  }
  .booking__tabs {
    background-color: $bg-primary;
    border-radius: 8px;
    .tabs__logo {
      margin-left: 32px;
      margin-right: 32px;
    }
    .tabs__body {
      background-color: #fff;
      border-radius: 8px;
      padding-top: 1rem;
      .ant-tabs-nav {
        // Danh sách rạp chiếu
        position: sticky;
        top: 0;
        .ant-tabs-nav-wrap {
          .ant-tabs-nav-list {
            position: sticky;
            top: 0;
            max-height: 800px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 12px;
            }
            /* Track */
            &::-webkit-scrollbar-track {
              box-shadow: inset 0 0 4px grey;
              border-radius: 10px;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: $bg-dark-2;
              border-radius: 10px;
            }
            overflow-y: scroll;
            .ant-tabs-tab {
              margin-top: 16px;
              padding-bottom: 8px;
              transition: 0.3s;
              height: 100px;
              color: #000000E0;
              &:hover {
                .theater--info {
                  .info__name {
                    color: $cl-red-3;
                  }
                  .info__address {
                  }
                }
              }
              &.ant-tabs-tab-active {
                background-color: $bg-dark-3;
                box-shadow: 0 4px 6px -1px #2655071a, 0 2px 4px -2px #0000001a;
                .theater--info {
                  .info__name {
                    color: #000000;
                  }
                  .info__address {
                    color: $cl-green-3;
                  }
                }
              }
            }
            .ant-tabs-ink-bar {
              background-color: $cl-red-1;
              width: 4px;
              right: 2px;
            }
          }
        }
      }
      .ant-tabs-content-holder {
        max-height: 800px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 12px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px #000000;
          border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $cl-grey-1;
          border-radius: 10px;
        }
        .ant-tabs-content {
        }
      }
    }
    .ant-tabs-ink-bar {
      background-color: red;
      height: 4px;
    }
  }
}
// Detail page
.movie__detail {
  background-color: $bg-dark-1;
  .detail__info {
    .container.info {
      padding: 68px 0;
      .info__movie {
        img {
          border-radius: 8px;
        }
        .movie__name {
          color: $cl-primary;
        }
        .movie__date {
          color: $cl-yellow-2;
        }
        .movie__des {
          color: $cl-primary;
          font-style: italic;
        }
        .buybtn {
          background-color: $bg-red-1;
          border-radius: 4px;
          border: 1px solid $bg-red-1;
          transition: 0.3s;
          &:hover {
            transform: translateY(-4px);
            color: $cl-yellow-1;
          }
        }
        .trailerbtn {
          @extend .buybtn;
          background-color: $bg-green-1;
          border: 1px solid $bg-green-1;
        }
      }
      .rate__movie {
        .ant-progress {
          margin-bottom: 0.5rem;
          .ant-progress-text {
            color: $cl-primary;
            font-weight: 700;
          }
        }
        .star {
          span {
            margin: 0 2px;
            font-size: 1.5rem;
          }
        }
      }
    }
    .detail__info__bg {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: blur(12px);
      // box-shadow: 4px -1px 22px 0px #000000 inset;
    }
  }
  .detail__showtime {
    .showtime__parent {
      .ant-tabs-nav {
        margin-bottom: 2rem;
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            .parent__tab {
              transition: 0.5s;
              color: $cl-primary;
              font-size: 1.2rem;
              text-transform: uppercase;
              font-weight: 600;
              &:hover {
                transform: scale(1.2, 1.2);
                color: $cl-red-2;
              }
            }
            &.ant-tabs-tab-active {
              .parent__tab {
                color: $cl-red-1;
              }
            }
          }
          .ant-tabs-ink-bar {
            height: 4px;
            background-color: $cl-red-2;
            transition: 0.5s;
          }
        }
      }
      .theaterlist {
        max-width: 800px;
        max-height: 800px;
        margin: 0 auto;
        padding: 2rem 0.2rem 2rem 0;
        border-radius: 8px;
        margin-bottom: 80px;
        box-shadow: 0 0 2px 0px #505050;
        background-color: #fff;
        .ant-tabs-nav {
          .ant-tabs-nav-wrap {
            .ant-tabs-nav-list {
              .ant-tabs-tab {
                // opacity: 0.6;
                filter: blur(1px);
              }
              .ant-tabs-tab.ant-tabs-tab-active {
                opacity: 1;
                filter: blur(0);
              }
            }
            .ant-tabs-ink-bar {
              width: 4px;
              background-color: $cl-green-1;
            }
          }
        }
        .ant-tabs-content-holder {
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 3px;
          }
          /* Track */
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px #00000065;
            border-radius: 10px;
          }
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: red;
            border-radius: 10px;
          }
          .ant-collapse {
            border: none;
            .ant-collapse-content {
              border-top: none;
            }
          }
        }
      }
      .movieInfo {
        max-width: 1000px;
        margin: 0 auto;
        color: $cl-primary;
      }
      .movieFeedback {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
}
// Seats page
.booking__checkout {
  background-color: $bg-dark-1;
  .steps {
    background-color: #f7c2c2;
  }
  // step 1: select number of seat
  .content {
    .booking__info {
      .info__movie {
        padding-bottom: 60px;
        img {
          width: 150px;
          height: 225px;
          border-radius: 8px;
        }
        .detail {
          margin-left: 24px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 12px;
          .detail__name {
            color: $cl-green-2;
            font-size: 1.75rem;
            font-weight: bold;
            margin-bottom: 1rem;
          }
          .detail__theater {
            color: $cl-primary;
            font-size: 1.2rem;
          }
          .detail__address {
            color: $cl-grey-3;
            font-style: italic;
            margin-bottom: 12px;
          }
          .detail__time {
            color: $cl-primary;
            font-weight: bold;
            line-height: 1.75;
            span {
              font-weight: 400;
              margin-left: 1rem;
              color: $cl-green-3;
            }
          }
          .detail__day {
            @extend .detail__time;
          }
          .detail__screen {
            @extend .detail__time;
          }
        }
      }
      .info__warn {
        padding-bottom: 24px;
        ul {
          color: $cl-primary;
          li {
            display: flex;
            align-items: center;
            line-height: 1.75;
            font-size: 1rem;
            svg {
              margin-right: 12px;
              color: yellow;
            }
          }
        }
      }
      .table__order {
        padding-bottom: 40px;
        table {
          thead {
            background-color: grey;
            font-weight: bold;
          }
          tr {
            border-bottom: 1px solid grey;
          }
          td {
            padding: 16px 40px;
            input {
              border-top: 1px solid grey;
              border-bottom: 1px solid grey;
              color: $cl-red-1;
              font-size: 1.2rem;
              height: 40px;
              font-weight: 700;
              &:focus-visible {
                outline: 1px solid grey;
              }
            }
            ::-webkit-outer-spin-button,
            ::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            .btn--minus,
            .btn--plus {
              width: 40px;
              height: 40px;
              padding: 8px;
              color: $cl-grey-1;
              transition: 0.3s;
              border: 1px solid grey;
              &:hover {
                background-color: gold;
              }
              &:active {
                background-color: transparent;
              }
            }
          }
        }
        .errmessage {
          color: $cl-red-2;
        }
      }
    }
  }
  // step2: select specific seat
  .seatandbill {
    .seatsMap {
      .screen {
        width: 80%;
        margin: 0 auto 120px;
        background-color: darkkhaki;
        border-radius: 12px 12px 0 0;
        p {
          letter-spacing: 4px;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            box-shadow: 0 4px 4px 0px #fff inset;
            width: 100%;
            height: 8px;
            left: 0;
            top: 22px;
          }
        }
      }
      .seats {
        .row-index{
          margin-bottom: 20px;
          padding-right: 1rem;
          font-weight: 700;
          color: $cl-yellow-2;
          font-family: 'Times New Roman', Times, serif;
        }
        .seat {
          border: 2px solid transparent;
          font-size: 0.8rem;
          width: 40px;
          margin-bottom: 20px;
          border-radius: 8px;
          padding: 4px;
          text-align: center;
          font-weight: 700;
          color: $cl-primary;
          transition: 0.3s;
          min-height: 30px;
          &.selecting {
            background-color: $bg-green-1;
          }
        }
        .taken {
          background-color: $bg-dark-4;
          color: $cl-red-1;
        }
        .common {
          background-color: $bg-dark-2;
          &:hover {
            background-color: $bg-green-3;
            transform: scale(1.1);
            color: $cl-grey-3;
          }
        }
        .vip {
          background-color: $bg-orange-1;
          &:hover {
            background-color: $bg-green-3;
            transform: scale(1.1);
            color: $cl-grey-1;
          }
        }
        .note {
          span {
            width: 30px;
            height: 28px;
            border-radius: 4px;
          }
          .common {
            background-color: $bg-dark-2;
          }
          .taken {
            background-color: $bg-dark-4;
          }
          .vip {
            background-color: $bg-orange-1;
          }
          .pending {
            background-color: $bg-green-1;
          }
        }
      }
    }
    .bill {
      margin-top: 100px;
      padding-top: 10px;
      background-color: $bg-dark-1;
      max-width: 300px;
      .title {
        text-transform: uppercase;
        font-weight: 600;
        color: $cl-primary;
        padding-bottom: 8px;
        padding-left: 8px;
        border-bottom: 2px solid $bg-green-2;
      }
      .bill__moviename {
        color: $cl-green-1;
        font-size: 1rem;
        font-weight: 600;
        padding-left: 12px;
        padding-top: 0.5rem;
      }
      .ticket-type {
        color: $cl-primary;
      }
    }
  }
  // step3: completed booking
}
.modal__trailer {
  .ant-modal-content {
    width: 800px;
    height: 535px;
    padding: 4px;
    background-color: #505050;
    .ant-modal-close {
      top: 0;
      right: 0;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: #505050;
      transform: translate(50%, -50%);
      width: 3rem;
      height: 3rem;
      .ant-modal-close-x {
        color: #ffff;
      }
    }
    .ant-modal-body {
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
